In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
file_name_recipe = "PP_recipes"
file_name_users = "PP_users"
file_name_raw_interaction = "RAW_interactions"
file_name_raw_recipes = "RAW_recipes"
csv_extension = ".csv"
directory = "D:/DKE-(19-22)/Year-3/Period-2/Recommender Systems/GroupAssignment/RecommenderSystemsProject/"

In [3]:
df_recipe = pd.read_csv(directory + file_name_recipe + csv_extension)
df_user = pd.read_csv(directory + file_name_users + csv_extension)
df_raw_interaction = pd.read_csv(directory + file_name_raw_interaction + csv_extension)
df_raw_recipes = pd.read_csv(directory + file_name_raw_recipes + csv_extension)

In [4]:
df_raw_interaction.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [5]:
len(df_raw_interaction)

1132367

In [6]:
df_user.head()

,u,techniques,items,n_items,ratings,n_ratings
0,0,"[8, 0, 0, 5, 6, 0, 0, 1, 0, 9, 1, 0, 0, 0, 1, ...","[1118, 27680, 32541, 137353, 16428, 28815, 658...",31,"[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 4.0, ...",31
1,1,"[11, 0, 0, 2, 12, 0, 0, 0, 0, 14, 5, 0, 0, 0, ...","[122140, 77036, 156817, 76957, 68818, 155600, ...",39,"[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, ...",39
2,2,"[13, 0, 0, 7, 5, 0, 1, 2, 1, 11, 0, 1, 0, 0, 1...","[168054, 87218, 35731, 1, 20475, 9039, 124834,...",27,"[3.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, ...",27
3,3,"[498, 13, 4, 218, 376, 3, 2, 33, 16, 591, 10, ...","[163193, 156352, 102888, 19914, 169438, 55772,...",1513,"[5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 5.0, 5.0, ...",1513
4,4,"[161, 1, 1, 86, 93, 0, 0, 11, 2, 141, 0, 16, 0...","[72857, 38652, 160427, 55772, 119999, 141777, ...",376,"[5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 4.0, 5.0, ...",376

In [7]:
df_recipe.head()

,id,i,name_tokens,ingredient_tokens,steps_tokens,techniques,calorie_level,ingredient_ids
0,424415,23,"[40480, 37229, 2911, 1019, 249, 6878, 6878, 28...","[[2911, 1019, 249, 6878], [1353], [6953], [153...","[40480, 40482, 21662, 481, 6878, 500, 246, 161...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[389, 7655, 6270, 1527, 3406]"
1,146223,96900,"[40480, 18376, 7056, 246, 1531, 2032, 40481]","[[17918], [25916], [2507, 6444], [8467, 1179],...","[40480, 40482, 729, 2525, 10906, 485, 43, 8393...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[2683, 4969, 800, 5298, 840, 2499, 6632, 7022,..."
2,312329,120056,"[40480, 21044, 16954, 8294, 556, 10837, 40481]","[[5867, 24176], [1353], [6953], [1301, 11332],...","[40480, 40482, 8240, 481, 24176, 296, 1353, 66...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...",1,"[1257, 7655, 6270, 590, 5024, 1119, 4883, 6696..."
3,74301,168258,"[40480, 10025, 31156, 40481]","[[1270, 1645, 28447], [21601], [27952, 29471, ...","[40480, 40482, 5539, 21601, 1073, 903, 2324, 4...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,"[7940, 3609, 7060, 6265, 1170, 6654, 5003, 3561]"
4,76272,109030,"[40480, 17841, 252, 782, 2373, 1641, 2373, 252...","[[1430, 11434], [1430, 17027], [1615, 23, 695,...","[40480, 40482, 14046, 1430, 11434, 488, 17027,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[3484, 6324, 7594, 243]"

In [8]:
df_user_group= df_user[df_user['n_ratings']>500]

In [9]:
len(df_user_group)

195

In [10]:
random_selected_users= df_user_group.sample(n=10)
random_selected_users
select_column_df_userid = random_selected_users.reset_index()['u']
select_column_df_userid

0     220
1    1504
2     168
3    1487
4     499
5    2147
6     754
7     736
8     832
9     319
Name: u, dtype: int64

In [11]:
sample_user_group = list(select_column_df_userid)
print(sample_user_group)

[220, 1504, 168, 1487, 499, 2147, 754, 736, 832, 319]

In [ ]:
recipie_review_count=df_raw_interaction['recipe_id'].value_counts()

Create a subset of recipies with over 100 ratings

In [13]:
recipie_review_count.reset_index()
recipie_review_count.iloc[0]
sample_recipe=recipie_review_count[recipie_review_count.iloc[:]>100]

In [14]:
sample_recipe_df = pd.DataFrame(sample_recipe)
sample_recipe_df.reset_index(inplace=True)

In [15]:
sample_recipes=list(sample_recipe_df['index'])

In [16]:
interacted_recipes=df_user_group['items'].unique()

In [ ]:
(interacted_recipes[0].split(','))

In [18]:
def split_int(arr):
    split_recipes=[]
    for i in range (len(arr)):

        to_split=arr[i]
        print(type(to_split))
        test_split=(to_split.split(','))
        
        for i in range (len(test_split)):
            if i==0:
                
                split_recipes.append((int)(test_split[i][1:]))
                
            if i==len(test_split)-1:
                split_recipes.append((int)(test_split[len(test_split)-1][:len(test_split[len(test_split)-1])-1])) 

            elif i>0 & i<len(test_split)-2:
                split_recipes.append((test_split[i]))        

    return split_recipes

In [84]:
group_unseen_recipe= np.setdiff1d(sample_recipes, interacted_recipe_list)

In [24]:
import itertools
from lenskit.algorithms import Recommender
from lenskit.algorithms.user_knn import UserUser

In [57]:
df_filterd= pd.read_csv("filtered_df.csv")

In [62]:
user=df_raw_interaction.groupby(['user_id'])

In [71]:
result= df_filterd.sort_values(by= 'user_id')

In [73]:
result= result.drop(result.columns[[0,3,5]],axis=1)

In [78]:
result.rename(columns = {'user_id':'user', 'recipe_id':'item'}, inplace = True)

In [ ]:
user_user = UserUser(15, min_nbrs=3)  # Minimum (3) and maximum (15) number of neighbors to consider
recsys = Recommender.adapt(user_user)
recsys.train(result)
group_unseen_df = pd.DataFrame(list(itertools.product(sample_user_group, group_unseen_recipe)), columns=['user', 'item'])
group_unseen_df['predicted_rating'] = recsys.predictor
display(group_unseen_df)

In [81]:
sample_user_group

[220, 1504, 168, 1487, 499, 2147, 754, 736, 832, 319]

In [ ]:
group_unseen_recipe