# Tagsplanation
## Loading stuff

In [11]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.tokenize import sent_tokenize, word_tokenize
import gensim
from gensim.models import Word2Vec
#from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
file_name_filtered = "filtered_df"
file_name_recipes = "RAW_recipes"
csv_extension = ".csv"
directory = "datasets/"

In [5]:
id = 'id'
tags = 'tags'
tags_norm = 'tags_normalized'
FILTERED_COLUMNS = ["user_id", "recipe_id", "date", "rating", "review"]
RECIPE_COLUMNS = [id, tags]

In [6]:
df_filtered = pd.read_csv(directory + file_name_filtered + csv_extension)
df_recipe = pd.read_csv(directory + file_name_recipes + csv_extension)
df_filtered = df_filtered[FILTERED_COLUMNS]
df_recipe = df_recipe[RECIPE_COLUMNS]
df_filtered.head()

,user_id,recipe_id,date,rating,review
0,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."
1,124416,120345,2011-08-06,0,"Just an observation, so I will not rate. I fo..."
2,76535,134728,2005-09-02,4,Very good!
3,255338,134728,2008-04-11,5,First time using liquid smoke in a recipe. Mad...
4,136726,197160,2006-11-25,5,I used this mix to make meat balls.Very simple...

In [7]:
df_recipe.head()

       id                                               tags
0  137739  ['60-minutes-or-less', 'time-to-make', 'course...
1   31490  ['30-minutes-or-less', 'time-to-make', 'course...
2  112140  ['time-to-make', 'course', 'preparation', 'mai...
3   59389  ['60-minutes-or-less', 'time-to-make', 'course...
4   44061  ['weeknight', 'time-to-make', 'course', 'main-...

## Fixing tags data type and structure

In [8]:
forbidden_characters = [',', '[', ']', ' ', '', '\'']
all_tags = []
df_recipe[tags_norm] = ''
for id, value in df_recipe.iterrows():
    curr_tag = value[tags]
    curr_word = str()
    for curr_char in curr_tag:
        if curr_char not in forbidden_characters:
            curr_word+=curr_char
        else:
            if curr_word != '':
                all_tags.append(curr_word.lower())
                df_recipe.set_value(id, tags_norm, all_tags)
                curr_word = str()
    all_tags = []

C:\Users\vanku\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  del sys.path[0]

In [9]:
df_recipe.head()

,id,tags,tags_normalized
0,137739,"['60-minutes-or-less', 'time-to-make', 'course...","[60-minutes-or-less, time-to-make, course, mai..."
1,31490,"['30-minutes-or-less', 'time-to-make', 'course...","[30-minutes-or-less, time-to-make, course, mai..."
2,112140,"['time-to-make', 'course', 'preparation', 'mai...","[time-to-make, course, preparation, main-dish,..."
3,59389,"['60-minutes-or-less', 'time-to-make', 'course...","[60-minutes-or-less, time-to-make, course, mai..."
4,44061,"['weeknight', 'time-to-make', 'course', 'main-...","[weeknight, time-to-make, course, main-ingredi..."

## Word2vec

In [20]:
model1 = gensim.models.Word2Vec(df_recipe.tags_normalized, min_count = 1)

In [19]:
model1.wv.most_similar('weeknight')

[('60-minutes-or-less', 0.8805419206619263),
 ('30-minutes-or-less', 0.7964515686035156),
 ('lactose', 0.7469867467880249),
 ('time-to-make', 0.745720624923706),
 ('course', 0.7019907236099243),
 ('main-ingredient', 0.6506094336509705),
 ('15-minutes-or-less', 0.6189927458763123),
 ('cuisine', 0.5846561193466187),
 ('preparation', 0.5398974418640137),
 ('celebrity', 0.5175716876983643)]

In [22]:
model1.wv.similarity('weeknight', 'celebrity')

0.49151468