# Tagsplanation
## Loading stuff

In [54]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import TfidfVectorizer

In [15]:
file_name_filtered = "filtered_df"
file_name_recipes = "RAW_recipes"
csv_extension = ".csv"
directory = "datasets/"

In [26]:
id = 'id'
tags = 'tags'
tags_norm = 'tags_normalized'
FILTERED_COLUMNS = ["user_id", "recipe_id", "date", "rating", "review"]
RECIPE_COLUMNS = [id, tags]

In [16]:
df_filtered = pd.read_csv(directory + file_name_filtered + csv_extension)
df_recipe = pd.read_csv(directory + file_name_recipes + csv_extension)
df_filtered = df_filtered[FILTERED_COLUMNS]
df_recipe = df_recipe[RECIPE_COLUMNS]
df_filtered.head()

,user_id,recipe_id,date,rating,review
0,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."
1,124416,120345,2011-08-06,0,"Just an observation, so I will not rate. I fo..."
2,76535,134728,2005-09-02,4,Very good!
3,255338,134728,2008-04-11,5,First time using liquid smoke in a recipe. Mad...
4,136726,197160,2006-11-25,5,I used this mix to make meat balls.Very simple...

In [17]:
df_recipe.head()

       id                                               tags
0  137739  ['60-minutes-or-less', 'time-to-make', 'course...
1   31490  ['30-minutes-or-less', 'time-to-make', 'course...
2  112140  ['time-to-make', 'course', 'preparation', 'mai...
3   59389  ['60-minutes-or-less', 'time-to-make', 'course...
4   44061  ['weeknight', 'time-to-make', 'course', 'main-...

## Fixing tags data type and structure

In [59]:
forbidden_characters = [',', '[', ']', ' ', '', '\'']
all_tags = []
df_recipe[tags_norm] = ''
for id, value in df_recipe.iterrows():
    curr_tag = value[tags]
    curr_word = str()
    for curr_char in curr_tag:
        if curr_char not in forbidden_characters:
            curr_word+=curr_char
        else:
            if curr_word != '':
                all_tags.append(curr_word.lower())
                df_recipe.set_value(id, tags_norm, all_tags)
                curr_word = str()
    all_tags = []

C:\Users\vanku\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  del sys.path[0]

In [60]:
df_recipe.head()

,id,tags,tags_normalized
0,137739,"['60-minutes-or-less', 'time-to-make', 'course...","[60-minutes-or-less, time-to-make, course, mai..."
1,31490,"['30-minutes-or-less', 'time-to-make', 'course...","[30-minutes-or-less, time-to-make, course, mai..."
2,112140,"['time-to-make', 'course', 'preparation', 'mai...","[time-to-make, course, preparation, main-dish,..."
3,59389,"['60-minutes-or-less', 'time-to-make', 'course...","[60-minutes-or-less, time-to-make, course, mai..."
4,44061,"['weeknight', 'time-to-make', 'course', 'main-...","[weeknight, time-to-make, course, main-ingredi..."

## Word2vec

In [61]:
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df_recipe.tags_normalized).todense()
vocab = tfidf.vocabulary_
vocab

AttributeError: 'list' object has no attribute 'lower'